.header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background-color: rgb(232, 56, 56);
  align-items: center;
  display: flex;
  padding-left: 2rem;
  justify-content:space-between;
  z-index: 10;
  color: white;
  height: 8rem;
}


.image{
  width: 100%;
  height: 470px;
  z-index: 0;
}
